$primary: #DFBE53;
$box-shadow: 0 4px 4px #00000040;
$border-radius: 2px;

$dark: #4A4A4A; 
$dark-bg: #292929;
$dark-text: #F0F0F0;

$half: #F0F0F0;

$light: #FFFFFF;
$light-bg: #F5F5F5;
$light-text: #131313;


$default: #292929;
$default-alt: #4A4A4A;

$green: #306244;
$green-alt: #183B2A;

$red: #873434;
$red-alt: #501414;

$blue: #4E5E8B;
$blue-alt: #17254E;