$primary: #205741;
$box-shadow: 0 4px 4px #00000040;
$border-radius: 4px;

$dark: #332A23; 
$dark-bg: #48433F;
$dark-text: #F0F0F0;

$half: #F0F0F0;

$light: #FFFFFF;
$light-bg: #F5F5F5;
$light-text: #131313;