<%- include('./includes/customHead', { title: 'Permafrost - Entrance', styles: ['main'] }) %>
<body>
  <div class="page404">
    <div>
      <img src="/static/images/404.png" alt="Olhos procurando">
      <h3>Erro 404</h3>
      <p>A página que você procura não foi encontrada.</p>
      <a href="/" class="btn black">Voltar ao início</a>
    </div>
  </div>
</body>
</html>