<%- include('./includes/customHead', { title: 'Permafrost - Entrance', styles: ['main'] }) %>
<body class="dark">
  <%- include('./includes/header', { path: 'Permafrost /', page: 'Entrance', theme: 'default'}) %>
  

</body>
</html>