<%- include('./includes/customHead', { title: 'Permafrost - Entrance', styles: ['main'] }) %>
<body class="dark">
  <%- include('./includes/navbar', { path: 'Permafrost /', page: 'Entrance'}) %>
  

</body>
</html>