<%- include('./includes/customHead', { title: 'PermafrostMTG - Home', styles: ['main'] }) %>
<body>
  <%- include('./components/permafrost_mtg/header') %>
  Home teste
  <pre><%= user.name %></pre>
  <%- include('./components/permafrost_mtg/list-block') %>
</body>
</html>