<%- include('./includes/customHead', { title: 'Permafrost - Entrance', styles: ['main'] }) %>
<body class="dark">
  <%- include('./includes/header', { path: 'Permafrost /', page: 'Home', theme: 'default'}) %>
</body>
</html>