@font-face {
  font-family: "CrimsonText-Bold";
  src: url(../fonts/CrimsonText-Bold.ttf);
}
@font-face {
  font-family: "CrimsonText-BoldItalic";
  src: url(../fonts/CrimsonText-BoldItalic.ttf);
}
@font-face {
  font-family: "CrimsonText-Italic";
  src: url(../fonts/CrimsonText-Italic.ttf);
}
@font-face {
  font-family: "CrimsonText-Regular";
  src: url(../fonts/CrimsonText-Regular.ttf);
}
@font-face {
  font-family: "CrimsonText-SemiBold";
  src: url(../fonts/CrimsonText-SemiBold.ttf);
}
@font-face {
  font-family: "CrimsonText-SemiBoldItalic";
  src: url(../fonts/CrimsonText-SemiBoldItalic.ttf);
}
@font-face {
  font-family: "Fantasque-Sans";
  src: url(../fonts/FantasqueSansMono-Regular.ttf);
}
@font-face {
  font-family: "SourceSansPro-Black";
  src: url(../fonts/SourceSansPro-Black.ttf);
}
@font-face {
  font-family: "SourceSansPro-BlackItalic";
  src: url(../fonts/SourceSansPro-BlackItalic.ttf);
}
@font-face {
  font-family: "SourceSansPro-Bold";
  src: url(../fonts/SourceSansPro-Bold.ttf);
}
@font-face {
  font-family: "SourceSansPro-BoldItalic";
  src: url(../fonts/SourceSansPro-BoldItalic.ttf);
}
@font-face {
  font-family: "SourceSansPro-ExtraLight";
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}
@font-face {
  font-family: "SourceSansPro-ExtraLightItalic";
  src: url(../fonts/SourceSansPro-ExtraLightItalic.ttf);
}
@font-face {
  font-family: "SourceSansPro-Italic";
  src: url(../fonts/SourceSansPro-Italic.ttf);
}
@font-face {
  font-family: "SourceSansPro-Light";
  src: url(../fonts/SourceSansPro-Light.ttf);
}
@font-face {
  font-family: "SourceSansPro-LightItalic";
  src: url(../fonts/SourceSansPro-LightItalic.ttf);
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url(../fonts/SourceSansPro-SemiBold.ttf);
}
@font-face {
  font-family: "SourceSansPro-SemiBoldItalic";
  src: url(../fonts/SourceSansPro-SemiBoldItalic.ttf);
}
header .main-bar {
  background-color: #292929;
  background-image: linear-gradient(90deg, #292929 50%, #4A4A4A 50%);
  position: relative;
  padding: 10px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main-bar::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 68px;
  left: calc(50% - 60px);
  top: 0;
  background-color: transparent;
  background-image: url("/static/images/navbar/default-triangle.png");
  background-size: cover;
  background-position: bottom;
}
@media (max-width: 810px) {
  header .main-bar::before {
    height: 47px;
  }
}
header .main-bar .logo-container {
  align-items: center;
  display: flex;
}
header .main-bar .logo-container img {
  max-width: 196px;
  max-height: 48px;
}
@media (max-width: 810px) {
  header .main-bar .logo-container img {
    max-width: 100px;
  }
}
header .main-bar .nav-container a.nav-link {
  color: #DFBE53;
  padding: 6px 20px 5px;
  font-family: "CrimsonText-Regular";
  margin-left: 32px;
  text-decoration: none;
}
header .main-bar .nav-container a.nav-link:hover {
  cursor: pointer;
}
header .main-bar .nav-container a.nav-link:hover {
  color: #c29c24;
  text-decoration: underline;
}
header .main-bar .nav-container a.nav-link.active {
  text-decoration: underline;
}
@media (max-width: 810px) {
  header .main-bar .nav-container a.nav-link {
    display: none;
  }
}
header .main-bar .nav-container .side-menu-button {
  display: none;
}
@media (max-width: 810px) {
  header .main-bar .nav-container .side-menu-button {
    display: block;
  }
}
header .sub-bar {
  background-color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 32px;
  font-size: 14px;
  font-family: "SourceSansPro-Light";
  box-shadow: 0 4px 4px #00000040;
}
header .sub-bar .breadcrumb span .page {
  text-decoration: underline;
}
@media (max-width: 810px) {
  header .sub-bar .user-info {
    display: none;
  }
}
header .sub-bar .user-info div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .sub-bar .user-info div img.user {
  margin-right: 8px;
  margin-bottom: 2px;
}
header .sub-bar .user-info div img.log-out {
  margin-left: 8px;
  width: 14px;
  height: 13px;
  margin-bottom: 2px;
}
header .sub-bar .user-info div a {
  margin-left: 8px;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.page404 {
  color: #F0F0F0;
  text-align: center;
  height: 100vh;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page404 div {
  margin-top: -100px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SourceSansPro-Regular";
}
body.dark {
  background-color: #292929;
}
body.light {
  background-color: #F5F5F5;
}

a.btn {
  cursor: pointer;
  padding: 6px 20px 5px;
  outline: 0;
  border: 0;
  font-size: 14px;
  font-family: "SourceSansPro-Regular";
  box-shadow: 0;
  text-decoration: none;
  text-transform: uppercase;
}
a.btn.dark {
  color: #DFBE53;
  background-color: #292929;
  border: 1px solid #DFBE53;
}
a.btn.dark:hover {
  background-color: #1c1c1c;
  box-shadow: 0 3px 6px 0 4px 4px #00000040;
}
a.btn.dark-outline {
  background-color: transparent !important;
  border: 2px solid #DFBE53;
  color: #DFBE53;
}
a.btn.dark-outline:hover {
  background-color: #dbb63e !important;
}

/*# sourceMappingURL=main.css.map */
