@font-face {
  font-family: 'CrimsonText-Bold';
  src: url(../fonts/CrimsonText-Bold.ttf);
}
@font-face {
  font-family: 'CrimsonText-BoldItalic';
  src: url(../fonts/CrimsonText-BoldItalic.ttf);
}
@font-face {
  font-family: 'CrimsonText-Italic';
  src: url(../fonts/CrimsonText-Italic.ttf);
}
@font-face {
  font-family: 'CrimsonText-Regular';
  src: url(../fonts/CrimsonText-Regular.ttf);
}
@font-face {
  font-family: 'CrimsonText-SemiBold';
  src: url(../fonts/CrimsonText-SemiBold.ttf);
}
@font-face {
  font-family: 'CrimsonText-SemiBoldItalic';
  src: url(../fonts/CrimsonText-SemiBoldItalic.ttf);
}