<%- include('../includes/customHead', { title: 'Permafrost - Login', styles: ['main'] }) %>
<body>
  <%- include('../includes/header', { path: 'Permafrost /', page: 'Login', theme: 'default'}) %>
  <form>
    <input type="text" placeholder="email" id="email">
    <input type="password" placeholder="password" id="password">
    <button id="loginSubmit">Submit</button>
  </form>
  <p id="result"></p>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    document.getElementById('loginSubmit').addEventListener("click", function(e) {
      e.preventDefault()
      logIn(document.getElementById('email').value, document.getElementById('password').value)
    })
    if(document.getElementById('logoutSubmit')) {
      document.getElementById('logoutSubmit').addEventListener("click", function(e) {
        e.preventDefault()
        logOut()
      })
    }
    function logIn(email, password) {
      axios({
        url: '/api/auth',
        method: 'post',
        data: {
          email: email,
          password: password
        },
        withCredentials: true
      })
      .then(res => {
        if(res.data.type == "incorrectCredentials") {
          document.getElementById("result").innerHTML = "E-mail ou senha inconrretos."
        }else {
          document.getElementById("result").innerHTML = "Autenticado com sucesso. Redirecionando..."
          window.location = 'http://localhost:3000/login'
        }
        console.log(res)
      })
      .catch(err => {
        console.log(err)
      })
    }
    function logOut() {
      axios({
        url: '/api/auth/logout',
        method: 'post',
        data: {},
        withCredentials: true
      })
      .then(res => {
        if(res.data.type == 'successfulRequest') {
          console.log(res)
          window.location = 'http://localhost:3000/login'
        }else {
          console.log(res)
        }
      })
    }
  </script>

</body>
</html>