<%- include('../includes/customHead', { title: 'Permafrost - Login', styles: ['main'] }) %>
<body>
  <% if(user) { %>
    <p><%= user.name %> VOCE TA LOGADO AMIGO</p>
    <a onclick="logOut()">Logout</a>
  <% } %>
  <form>
    <input type="text" placeholder="email" id="email">
    <input type="password" placeholder="password" id="password">
    <a onclick="logIn(document.getElementById('email').value, document.getElementById('password').value)">Submit</a>
  </form>
  <p id="result"></p>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function logIn(email, password) {
      axios({
        url: '/api/auth',
        method: 'post',
        data: {
          email: email,
          password: password
        },
        withCredentials: true
      })
      .then(res => {
        if(res.data.type == "incorrectCredentials") {
          document.getElementById("result").innerHTML = "E-mail ou senha inconrretos."
        }else {
          document.getElementById("result").innerHTML = "Autenticado com sucesso. Redirecionando..."
        }
        console.log(res)
      })
      .catch(err => {
        console.log(err)
      })
    }
    function logOut() {
      axios({
        url: '/api/auth/logout',
        method: 'post',
        data: {},
        withCredentials: true
      })
      .then(res => {
        if(res.data.type == 'successfulRequest') {
          console.log(res)
        }else {
          console.log(res)
        }
      })
    }
  </script>

</body>
</html>