<%- include('../includes/customHead', { title: 'Permafrost - Login', styles: ['main'] }) %>
<body>
  <form>
    <input type="text" placeholder="email" id="email">
    <input type="password" placeholder="password" id="password">
    <a onclick="logIn(document.getElementById('email').value, document.getElementById('password').value)">Submit</a>
  </form>
  <p id="result"></p>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function logIn(email, password) {
      axios.post('/api/auth', {
        email: email,
        password: password
      })
      .then(res => {
        if(res.data.type == "incorrectCredentials") {
          document.getElementById("result").innerHTML = "E-mail ou senha inconrretos."
        }else {
          document.getElementById("result").innerHTML = "Autenticado com sucesso. Redirecionando..."
        }
        console.log(res)
      })
      .catch(err => {
        console.log(err)
      })
    }
  </script>

</body>
</html>