<%- include('../includes/customHead', { title: 'Permafrost - Login', styles: ['main'] }) %>
<body class="dark">
  <%- include('../includes/header', { path: 'Permafrost /', page: 'Login', theme: 'default'}) %>
  <div class="pageLogin">
    <div class="login-container">
      <div class="logo-container">
          <img src="/static/images/navbar/logo.png" alt="Permafrost">
      </div>
      <form class="login-form">
        <div class="header">
          <h3>Conecte-se</h3>
          <p>Digite suas informações de login para se conectar no site.</p>
        </div>
        <div class="input-container">
          <label for="email">E-mail</label>
          <input type="text" placeholder="usuario@email.com" id="email">
        </div>
        <div class="input-container">
          <label for="password">Senha</label>
          <input type="password" placeholder="•••••••••••••" id="password">
          <a href="/forgot-password">Esqueceu sua senha?</a>
        </div>
        <div class="text-center">
          <button class="btn primary" id="loginSubmit">Conectar</button>
          <div class="register-container">
            <p>Ainda não possui uma conta?</p>
            <a href="/register">Cadastre-se aqui</a>
          </div>
        </div>
      </form>
    </div>
    <p id="result"></p>
  </div>
  
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    document.getElementById('loginSubmit').addEventListener("click", function(e) {
      e.preventDefault()
      logIn(document.getElementById('email').value, document.getElementById('password').value)
    })
    if(document.getElementById('logoutSubmit')) {
      document.getElementById('logoutSubmit').addEventListener("click", function(e) {
        e.preventDefault()
        logOut()
      })
    }
    function logIn(email, password) {
      axios({
        url: '/api/auth',
        method: 'post',
        data: {
          email: email,
          password: password
        },
        withCredentials: true
      })
      .then(res => {
        if(res.data.type == "incorrectCredentials") {
          document.getElementById("result").innerHTML = "E-mail ou senha inconrretos."
        }else {
          document.getElementById("result").innerHTML = "Autenticado com sucesso. Redirecionando..."
          window.location = 'http://localhost:3000/login'
        }
        console.log(res)
      })
      .catch(err => {
        console.log(err)
      })
    }
    function logOut() {
      axios({
        url: '/api/auth/logout',
        method: 'post',
        data: {},
        withCredentials: true
      })
      .then(res => {
        if(res.data.type == 'successfulRequest') {
          console.log(res)
          window.location = 'http://localhost:3000/login'
        }else {
          console.log(res)
        }
      })
    }
  </script>

</body>
</html>