<!DOCTYPE html>
<html lang="ptBR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Permafrost - Login</title>
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="login">
  <div class="login__board">
    <h1 class="login__board__title">Permafrost</h1>
    <img class="login__board__title-bg-img" src="/static/images/transparent-logo.png" alt="Logo Permafrost">
    <p class="login__board__text">Seja bem vindo(a). <br><br> Para se conectar, identifique-se abaixo.</p>
    <img class="login__board__display-img" src="/static/images/entrance/entrance-image.png" alt="Personagem olhando para Montanhas, barcos e floresta.">
    <form class="login__board__form">
      <input class="login__board__form__input" name="email" placeholder="E-mail..." type="email">
      <div class="login__board__form__input-container">
        <input id="password-input" class="login__board__form__input" name="password" placeholder="Senha..." type="password">
        <a href="#" onclick="document.getElementById('password-input').type == 'text'?document.getElementById('password-input').type = 'password':document.getElementById('password-input').type = 'text'" class="login__board__form__input-button"></a>
      </div>
      <button class="login__board__form__button" type="submit">Fazer Login</button>
    </form>
  </div>

</body>
</html>