header {
  .main-bar {
    background-color: $default;
    background-image: linear-gradient(90deg, $default 50%, $default-alt 50%);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 68px;
      left: calc(50% - 60px);
      top: 0;
      background-color: transparent;
      background-image: url('/static/images/navbar/default-triangle.png');
      background-size: cover;
      background-position: bottom;
    }
    padding: 10px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-container {
      align-items: center;
      display: flex;
      img {
        max-width: 196px;
        max-height: 48px;
      }
    }
    .nav-container {
      a.btn {
        font-family: 'SourceSansPro-Regular';
        margin-left: 32px;
      }
    }
  }
  .sub-bar {
    background-color: $half;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px;
    font-size: 14px;
    font-family: 'SourceSansPro-Light';
    box-shadow: $box-shadow;
    .breadcrumb {
      span {
        .page {
          text-decoration: underline;
        }
      }
    }
    .user-info {
      div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        img.user {
          margin-right: 8px;
          margin-bottom: 2px;
        }
        img.log-out {
          margin-left: 8px;
          width: 14px;
          height: 13px;
          margin-bottom: 2px;
        }
        a {
          margin-left: 8px;
          text-decoration: underline;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}